/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- #f3b76a
- #f17500
- #0d6e00
- #6d00fb purple
- #dbff39
- #74c9f1 light blue
- #fb4040 speific red

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!) */


#jordans-1 {
    height: 400px;
    width: 600px;
    outline:  #6d00fb;
}

#jordans-2 {
    height: 400px;
    width: 600px;
}

body {
    background-image: url(backgroundimage.jpg);
    background-size: 100%;
    font-family: copperplate, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    background-size: cover;
}

h1 {
    background-image: linear-gradient(#74c9f1, #fb4040);
    text-align: center;
    font-size: 3rem;
    color: #6d00fb;
    text-decoration: underline;
    border-radius: 0.5em;
}

#jordans-1-desc {
    color: white;
    background-color: #74c9f1;
}

#jordans-2-desc {
    color: white;
    background-color: #fb4040;
}